.rail-container {
    width: 25%;
    margin: 1rem;
    .header {
        text-align: center;
    }
    .description {
        text-align: center;
    }
    .rail-links {
        text-align: center;
    }
}